:root {
    --gradient: linear-gradient(45deg,#212121, #030303, hsl(0, 0%, 15%) , #3a3a3a,#000000, #1b1b1b);
  }

  .hero {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 120s infinite alternate;
  }
  
  @keyframes bg-animation {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
  }
  
  
  @keyframes bg-animation {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
  }
  