:root {
    --gradient: linear-gradient(45deg,#700e0e, #0b858b, #85d3c7 , #073328,#ff1818, #ffffff);
  }

  .hero {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 120s infinite alternate;
  }
  
  @keyframes bg-animation {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
  }
  
  
  @keyframes bg-animation {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
  }
  