:root {
    --gradient: linear-gradient(45deg,#700e0e, #ff0000, hsl(0, 100%, 93%) , #ffffff,#5cf2c5, #006659);
  }

  .hero {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 120s infinite alternate;
  }
  
  @keyframes bg-animation {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
  }
  
  
  @keyframes bg-animation {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
  }
  